.projectsLi {
  cursor: pointer;
  transform-style: preserve-3d;
}

.projectContainer {
  -webkit-transform: rotate3d(0, 1, 0, -45deg) translateZ(0) scale(1);
          transform: rotate3d(0, 1, 0, -45deg) translateZ(0) scale(1);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform; }
  @media screen and (min-width: 768px) {
    .home-page .projectContainer {
      -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1); }
}

.home-page:not(.intro) .projectsLi:hover .projectContainer,
.home-page:not(.intro) .projectsLi.isHovered .projectContainer {
  -webkit-transform: rotate3d(0, 1, 0, -35deg) translateZ(0) scale(1);
          transform: rotate3d(0, 1, 0, -35deg) translateZ(0) scale(1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }
/* .projectsLi:hover  {
  transform: rotate3d(0, 1, 0, -35deg) translateZ(0) scale(1);
  transition-duration: 1s;
} */

.projectsLi a:hover {
  transition-duration: 0.3s;
  color: transparent;
  -webkit-text-stroke: 2px #f2f2f2;
  text-stroke: 2px #f2f2f2
}

@supports (-webkit-text-stroke:2px #000) or (text-stroke:2px #000) {
  .projects li:hover a {
    color: transparent;
    -webkit-text-stroke: 2px #000;
    text-stroke: 2px #000;
  }
}

.projectContainer a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  /* letter-spacing: .02em; */
  line-height:.9em;
  transition: color .5s, opacity .5s;
  font-family: Druk Wide Web;
  font-size: 9.6vw;
  /* letter-spacing: -1px; */

}

.projects a::before {
  content: attr(data-info);
  white-space: pre;
  position: absolute;
  top: 3.7em;
  left: -250px;
  width: 200px;
  text-align: right;
  font-size: .7vw;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  color: #000!important;
  pointer-events: none;
  transition: none;
}

@supports (-webkit-text-stroke: 3px #000) or (text-stroke: 3px #000) {
  .projects a:before {
    -webkit-text-stroke: transparent;
    text-stroke: transparent; }
}

.projects a::after {
  content: "";
  position: absolute;
  top: 0.23em;
  left: -0.3em;
  width: 2px;
  height: 0.85em;
  background-color: #000;
  transform: rotateZ(25deg);
  pointer-events: none;
}

